.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__menu {
  }

  &__delete {
  }

  &__sort-asc {
  }

  &__sort-desc {
  }
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;

  transition: all 0.2s;

  &--running {
    border-left: 5px solid var(--color-brand--2);
  }

  &--cycling {
    border-left: 5px solid var(--color-brand--1);
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / span 3;
  }

  &__details {
    display: flex;
    align-items: baseline;
  }

  &__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
  }

  &__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__unit {
    font-size: 1.1rem;
    color: var(--color-light--1);
    text-transform: uppercase;
    font-weight: 800;
  }

  &__menu {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
  }

  &__menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__menu-icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--color-white);
    transition: all 0.3s;
    opacity: 0;

    &:hover {
      fill: var(--color-light--1);
    }
  }

  &:hover &__menu &__menu-icon {
    opacity: 1;
  }

  &__update-form {
    grid-column: 1 / -1;
    margin-top: 1rem;
    border-top: 1px solid var(--color-light--1);
  }
}
